In [174]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [83]:
# reading with pandas
mouse_data = pd.read_csv("data/Mouse_metadata.csv")
mouse_data.head()
results_data = pd.read_csv("data/Study_results.csv")
results_data.head()
combined_data = pd.merge(mouse_data, results_data, how = "outer",on = "Mouse ID")
combined_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [ ]:
combined_data["Mouse ID"].nunique()

In [ ]:
combined_data[combined_data.duplicated(['Mouse ID',"Timepoint"])]["Mouse ID"]
#combined_data[combined_data[["Mouse ID","Timepoint"]].duplicated()]

In [ ]:
combined_data.loc[combined_data["Mouse ID"] == "g989"]

In [ ]:
combined_data_df = combined_data.loc[combined_data["Mouse ID"] != "g989"]
combined_data_df

In [ ]:
combined_data_df["Mouse ID"].nunique()

In [84]:
 combined_data_df = combined_data.drop_duplicates(subset=["Mouse ID","Timepoint"],keep=False)
 combined_data_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [98]:
combined_data_df.set_index("Drug Regimen")
mean_tumor_volume = combined_data_df.groupby("Drug Regimen").mean()["Tumor Volume (mm3)"]
mean_tumor_volume

Drug Regimen
Capomulin    40.675741
Ceftamin     52.591172
Infubinol    52.884795
Ketapril     55.235638
Naftisol     54.331565
Placebo      54.033581
Propriva     52.458254
Ramicane     40.216745
Stelasyn     54.233149
Zoniferol    53.236507
Name: Tumor Volume (mm3), dtype: float64

In [ ]:
median_tumor_volume = combined_data_df.groupby("Drug Regimen").median()["Tumor Volume (mm3)"]
median_tumor_volume

In [ ]:
var_tumor_volume = combined_data_df.groupby("Drug Regimen").var()["Tumor Volume (mm3)"]
var_tumor_volume

In [ ]:
std_tumor_volume = combined_data_df.groupby("Drug Regimen").std()["Tumor Volume (mm3)"]
std_tumor_volume

In [ ]:
std_err_tumor_volume = combined_data_df.groupby("Drug Regimen").sem()["Tumor Volume (mm3)"]
std_err_tumor_volume

In [ ]:
summary_df = pd.DataFrame({"MeanTumorVolume" : mean_tumor_volume, 
                           "MedianTumorVolume" : median_tumor_volume,
                           "TumorVolumeVariance":var_tumor_volume,
                           "TumorVolumeStd.Dev.": std_tumor_volume,
                           "TumorVolumeStd.Err.": std_err_tumor_volume})
summary_df

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.
num_mouse_tested_per_regimen = combined_data_df.groupby("Drug Regimen").count()["Mouse ID"]
num_mouse_tested_per_regimen

In [ ]:
num_mouse_tested_per_regimen.plot(kind="bar")

In [ ]:
plt.bar(num_mouse_tested_per_regimen.index,num_mouse_tested_per_regimen.values)
plt.ylabel("Number of Mice Tested")
plt.xticks(rotation = "vertical")
plt.show()

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas
sex_distribution = combined_data_df.groupby("Sex").count()["Mouse ID"]
sex_distribution

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas
 sex_distribution.plot(kind="pie", autopct = "%1.0f%%")

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot
plt.pie(sex_distribution.index, autopct="%1.0f%%")

In [111]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin
tumor_volume_total = combined_data_df.groupby(["Drug Regimen","Mouse ID"]).agg(
    {"Tumor Volume (mm3)":['sum'],"Timepoint":["max"]})

grouped_df = tumor_volume_total.loc[["Capomulin","Ramicane","Infubinol","Ceftamin"]]
grouped_df

                      Tumor Volume (mm3) Timepoint
                                     sum       max
Drug Regimen Mouse ID
Capomulin    b128             419.636356        45
             b742             400.836993        45
             f966             182.529864        20
             g288             419.900966        45
             g316             446.133439        45
...                                  ...       ...
Ramicane     s508             360.501562        45
             u196             455.763948        45
             w678              88.166373         5
             y449             181.439088        15
             z578             384.115100        45

[100 rows x 2 columns]

In [142]:
grouped_df.reset_index()

   Drug Regimen Mouse ID Tumor Volume (mm3) Timepoint
                                        sum       max
0     Capomulin     b128         419.636356        45
1     Capomulin     b742         400.836993        45
2     Capomulin     f966         182.529864        20
3     Capomulin     g288         419.900966        45
4     Capomulin     g316         446.133439        45
..          ...      ...                ...       ...
95     Ramicane     s508         360.501562        45
96     Ramicane     u196         455.763948        45
97     Ramicane     w678          88.166373         5
98     Ramicane     y449         181.439088        15
99     Ramicane     z578         384.115100        45

[100 rows x 4 columns]

In [154]:
df = combined_data_df.groupby(["Drug Regimen","Mouse ID"]).agg({"Timepoint":"max"})
#df.rename(columns={"max":"Timepoint"})
df = df.loc[["Capomulin","Ramicane","Infubinol","Ceftamin"]]
df = df.reset_index()

In [155]:
df["Drug Regimen"].unique()

array(['Capomulin', 'Ceftamin', 'Infubinol', 'Ramicane'], dtype=object)

In [167]:
new_df =pd.merge(combined_data_df,df,how="inner",on=["Timepoint","Drug Regimen","Mouse ID"])
new_df[["Mouse ID","Drug Regimen","Timepoint","Tumor Volume (mm3)"]]

   Mouse ID Drug Regimen  Timepoint  Tumor Volume (mm3)
0      k403     Ramicane         45           22.050126
1      s185    Capomulin         45           23.343598
2      x401    Capomulin         45           28.484033
3      m601    Capomulin         45           28.430964
4      g791     Ramicane         45           29.128472
..      ...          ...        ...                 ...
95     x822     Ceftamin         45           61.386660
96     y163    Infubinol         45           67.685569
97     y769     Ceftamin         45           68.594745
98     y865     Ceftamin         45           64.729837
99     z581    Infubinol         45           62.754451

[100 rows x 4 columns]

In [171]:
treatment_list = [treatments for treatments in new_df["Drug Regimen"]]
treatment_list
tumor_volume_data = []